<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kzsrm.model.AttentionShipMapper" >
  <resultMap id="BaseResultMap" type="com.kzsrm.model.AttentionShip" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="attendId" property="attendId" jdbcType="INTEGER" />
    <result column="attendedId" property="attendedId" jdbcType="INTEGER" />
    <result column="defriend" property="defriend" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, attendId, attendedId, defriend, createTime
  </sql>
  
  <!-- 按条件查询 -->
  <select id="getByParam" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from attentionship
    <where>
    	<if test="attendId != null and attendId != ''">
    		attendId = #{attendId,jdbcType=VARCHAR}
    	</if>
    	<if test="attendedId != null and attendedId != ''">
    		and attendedId = #{attendedId,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from attentionship
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from attentionship
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.kzsrm.model.AttentionShip" >
    insert into attentionship (id, attendId, attendedId, defriend,
    createTime)
    values (#{id,jdbcType=INTEGER}, #{attendId,jdbcType=INTEGER},
     #{attendedId,jdbcType=INTEGER},#{defriend,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.kzsrm.model.UserGroup" >
    insert into attentionship
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attendId != null" >
        attendId,
      </if>
      <if test="attendedId != null" >
        attendedId,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attendId != null" >
        #{attendedId,jdbcType=INTEGER},
      </if>
      <if test="attendId != null" >
        #{attendedId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.kzsrm.model.UserGroup" >
    update attentionship
    <set >
      <if test="sid != null" >
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="isright != null" >
        isright = #{isright,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.kzsrm.model.UserGroup" >
    update attentionship
    set sid = #{sid,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      isright = #{isright,jdbcType=VARCHAR},
      oid = #{oid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>