<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kzsrm.model.CheckInMapper" >
  <resultMap id="BaseResultMap" type="com.kzsrm.model.CheckInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orgId" property="orgId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="userPhone" property="userPhone" jdbcType="VARCHAR" />
    <result column="userLocal" property="userLocal" jdbcType="VARCHAR" />
    <result column="checkinTime" property="checkinTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orgId, userPhone, userLocal, type, checkinTime
  </sql>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkin_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getByPhoneAndOrg" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from checkin_info
    where userPhone = #{userPhone,jdbcType=VARCHAR} 
    and orgId = #{orgId,jdbcType=INTEGER}
  </select>
  <select id="getByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from checkin_info
    where userPhone = #{userPhone,jdbcType=VARCHAR} 
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from checkin_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kzsrm.model.CheckInfo" >
    insert into checkin_info (id, orgId, type, userPhone, userLocal, checkinTime)
    values (#{id,jdbcType=INTEGER},#{orgId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
    #{userPhone,jdbcType=VARCHAR}, #{userLocal,jdbcType=VARCHAR}, #{checkinTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kzsrm.model.CheckInfo" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="profile != null" >
        profile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kzsrm.model.CheckInfo" >
    update checkin_info
    <set >
      <if test="tid != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        profile = #{profile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.kzsrm.model.CheckInfo" >
    update checkin_info
    set orgId = #{orgId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      userPhone = #{userPhone,jdbcType=VARCHAR},
      userLocal = #{userLocal,jdbcType=VARCHAR},
      checkinTime = #{checkinTime,jdbcType=VARCHAR}
  </update>
</mapper>