<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kzsrm.model.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.kzsrm.model.Course" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="profile" property="profile" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="teacherId" property="teacherId" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="playcount" property="playcount" jdbcType="INTEGER" />
    <result column="subAllNum" property="subAllNum" jdbcType="INTEGER" />
    <result column="totalTime" property="totalTime" jdbcType="VARCHAR" />
    <result column="isBanner" property="isBanner" jdbcType="INTEGER" />
    <result column="bannerPic" property="bannerPic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t.id, t.type, t.name, t.profile, t.address, t.teacherId, t.pid, t.playcount, t.subAllNum, t.totalTime, t.isBanner,t.bannerPic
  </sql>
  <!-- 获取所有二级的课程 -->
  <select id="getSecLevelCour" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
	from course t ,course s
	where t.pid = s.id 
	and s.pid='0'
	and t.type= #{type,jdbcType=VARCHAR}
  </select>
  
  <select id="findAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from course t
  </select>
  
  <select id="getchildrenCour" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from course t
    <where>
    	<if test="pid != null and pid != ''">
    		t.pid = #{pid,jdbcType=VARCHAR}
    	</if>
    	<if test="type != null and type != ''">
    		and t.type = #{type,jdbcType=VARCHAR}
    	</if>
    </where>
    <if test="orderType != null and orderType != ''">
    	order by ${orderType}
    </if>
    
  </select>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course t
    where t.id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getBannerCourse" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course t where t.isBanner = 1
  </select>
  <!-- 最新课程 -->
  <select id="getRecentCourse" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course t 
    where type = #{type,jdbcType=INTEGER} 
    order by createTime desc 
    limit #{limit,jdbcType=INTEGER}
  </select>
  <!-- 最热课程 -->
  <select id="getHotCourse" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course t 
    where type = #{type,jdbcType=INTEGER} 
    order by playcount desc 
    limit #{limit,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kzsrm.model.Course" >
    insert into course (id, name, type, 
      profile, address, pid, 
      playcount, subAllNum)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{profile,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, 
      #{playcount,jdbcType=INTEGER}, #{subAllNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kzsrm.model.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="profile != null" >
        profile,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="playcount != null" >
        playcount,
      </if>
      <if test="subAllNum != null" >
        subAllNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="playcount != null" >
        #{playcount,jdbcType=INTEGER},
      </if>
      <if test="subAllNum != null" >
        #{subAllNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kzsrm.model.Course" >
    update course
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        profile = #{profile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="playcount != null" >
        playcount = #{playcount,jdbcType=INTEGER},
      </if>
      <if test="subAllNum != null" >
        subAllNum = #{subAllNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.kzsrm.model.Course" >
    update course
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      playcount = #{playcount,jdbcType=INTEGER},
      subAllNum = #{subAllNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>