<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kzsrm.model.DailyActMapper" >
  <resultMap id="BaseResultMap" type="com.kzsrm.model.DailyAct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="checkin" property="checkin" jdbcType="INTEGER" />
    <result column="wechat" property="wechat" jdbcType="INTEGER" />
    <result column="wetimeline" property="wetimeline" jdbcType="INTEGER" />
    <result column="sina" property="sina" jdbcType="INTEGER" />
    <result column="qq" property="qq" jdbcType="INTEGER" />
    <result column="qzone" property="qzone" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, checkin, wechat, wetimeline, sina, qq, qzone, date
  </sql>
  
  <!-- 按条件查询 -->
  <select id="getByParam" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from dailyact
    <where>
    	<if test="userId != null and userId != ''">
    		userId = #{userId,jdbcType=INTEGER}
    	</if>
    	<if test="checkin != null and checkin != ''">
    		and checkin = #{checkin,jdbcType=INTEGER}
    	</if>
    	<if test="wechat != null and wechat != ''">
    		and wechat = #{wechat,jdbcType=INTEGER}
    	</if>
    	<if test="wetimeline != null and wetimeline != ''">
    		and wetimeline = #{wetimeline,jdbcType=INTEGER}
    	</if>
    	<if test="sina != null and sina != ''">
    		and sina = #{sina,jdbcType=INTEGER}
    	</if>
    	<if test="qq != null and qq != ''">
    		and qq = #{qq,jdbcType=INTEGER}
    	</if>
    	<if test="qzone != null and qzone != ''">
    		and qzone = #{qzone,jdbcType=INTEGER}
    	</if>
    	<if test="date != null and date != ''">
    		and date = #{date,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dailyact
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 最近一次签到 -->
  <select id="getLastestByUser" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dailyact
    where userId = #{userId,jdbcType=INTEGER} 
    order by date desc limit 1
  </select>
  
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from dailyact
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.kzsrm.model.DailyAct" >
    insert into dailyact (id, attendId, attendedId, defriend,
    createTime)
    values (#{id,jdbcType=INTEGER}, #{attendId,jdbcType=INTEGER},
     #{attendedId,jdbcType=INTEGER},#{defriend,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.kzsrm.model.DailyAct" >
    insert into dailyact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="checkin != null" >
        checkin,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="checkin != null" >
        #{checkin,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.kzsrm.model.DailyAct" >
    update attentionship
    <set >
      <if test="sid != null" >
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="isright != null" >
        isright = #{isright,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.kzsrm.model.DailyAct" >
    update attentionship
    set sid = #{sid,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      isright = #{isright,jdbcType=VARCHAR},
      oid = #{oid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>